In [3]:
import pandas as pd
import yfinance as yf
import numpy as np

In [4]:
data = pd.read_excel("Bist100_duznelenmis.xlsx",header=0)
data.head()

     Kodlar
0   ADEL.IS
1  ADGYO.IS
2  AGHOL.IS
3  AGROT.IS
4  AHGAZ.IS

In [7]:
tickers = data["Kodlar"].tolist()

In [9]:
stats = ["NetIncomeFromContinuingOperations",
         "TotalAssets",
         "OperatingCashFlow",
         "LongTermDebtAndCapitalLeaseObligation",
         "TotalNonCurrentLiabilitiesNetMinorityInterest",
         "CurrentAssets",
         "CurrentLiabilities",
         "StockholdersEquity",
         "TotalRevenue",
         "GrossProfit"] # change as required

indx = ["NetIncome","TotAssets","CashFlowOps","LTDebt","TotLTLiab",
        "CurrAssets","CurrLiab","CommStock","TotRevenue","GrossProfit"]

In [11]:
financial_dir={}

for ticker in tickers:
    try:
        df1 = yf.Ticker(ticker).get_income_stmt()
        df2 = yf.Ticker(ticker).get_balance_sheet()
        df3 = yf.Ticker(ticker).get_cashflow()
        
        if df1.empty or df2.empty or df3.empty or len(df1.columns)<3:
            print(f"{ticker}: Finansal veri çekilemedi, atlanıyor.")
            continue
        df1 = df1.iloc[:,:3]
        df2 = df2.iloc[:,:3]
        df3 = df3.iloc[:,:3]
        df = pd.concat([df1,df2,df3])
        financial_dir[ticker] = df
        print("data extracted for ",ticker)
        financial_dir[ticker] = df
    except Exception as e:
        print(ticker,":", e)

data extracted for  ADEL.IS
data extracted for  ADGYO.IS
data extracted for  AGHOL.IS
data extracted for  AGROT.IS
data extracted for  AHGAZ.IS
data extracted for  AKCNS.IS
data extracted for  AKFGY.IS
data extracted for  AKFIS.IS
data extracted for  AKFYE.IS
data extracted for  AKSGY.IS
data extracted for  AKSA.IS
data extracted for  AKSEN.IS
data extracted for  ALGYO.IS
data extracted for  ALARK.IS
data extracted for  ALFAS.IS
data extracted for  ALTNY.IS
data extracted for  AEFES.IS
data extracted for  ARCLK.IS
data extracted for  ARDYZ.IS
data extracted for  ARMGD.IS
data extracted for  ASGYO.IS
data extracted for  ASELS.IS
data extracted for  ASTOR.IS
data extracted for  ATAKP.IS
data extracted for  ATATP.IS
data extracted for  AVPGY.IS
data extracted for  AYDEM.IS
data extracted for  AYGAZ.IS
data extracted for  AZTEK.IS
BASGZ.IS: Finansal veri çekilemedi, atlanıyor.
data extracted for  BTCIM.IS
data extracted for  BSOKE.IS
data extracted for  BERA.IS
data extracted for  BJKAS.IS
data extracted for  BIENY.IS
data extracted for  BIMAS.IS
data extracted for  BINBN.IS
data extracted for  BIOEN.IS
data extracted for  BOBET.IS
data extracted for  BORSK.IS
data extracted for  BORLS.IS
data extracted for  BRSAN.IS
data extracted for  BRYAT.IS
data extracted for  BFREN.IS
data extracted for  BRISA.IS
data extracted for  BUCIM.IS
data extracted for  CEMZY.IS
data extracted for  CCOLA.IS
data extracted for  CVKMD.IS
CWENE.IS: Finansal veri çekilemedi, atlanıyor.
data extracted for  CANTE.IS
data extracted for  CATES.IS
data extracted for  CLEBI.IS
data extracted for  CIMSA.IS
data extracted for  DAPGM.IS
data extracted for  DSTKF.IS
data extracted for  DEVA.IS
data extracted for  DOHOL.IS
ARASE.IS: Finansal veri çekilemedi, atlanıyor.
data extracted for  DOAS.IS
data extracted for  EBEBK.IS
data extracted for  ECZYT.IS
data extracted for  EFORC.IS
data extracted for  EGEEN.IS
data extracted for  ECILC.IS
data extracted for  EKGYO.IS
data extracted for  ENJSA.IS
ENERY.IS: Finansal veri çekilemedi, atlanıyor.
data extracted for  ENKAI.IS
data extracted for  EREGL.IS
data extracted for  ESCAR.IS
data extracted for  TEZOL.IS
data extracted for  EUREN.IS
data extracted for  EUPWR.IS
data extracted for  FENER.IS
data extracted for  FROTO.IS
data extracted for  GWIND.IS
data extracted for  GSRAY.IS
data extracted for  GENIL.IS
data extracted for  GESAN.IS
data extracted for  GLYHO.IS
data extracted for  GOKNR.IS
data extracted for  GOLTS.IS
data extracted for  GOZDE.IS
data extracted for  GRTHO.IS
data extracted for  GUBRF.IS
data extracted for  GLRMK.IS
data extracted for  GRSEL.IS
data extracted for  SAHOL.IS
data extracted for  HLGYO.IS
data extracted for  HRKET.IS
data extracted for  HEKTS.IS
data extracted for  HTTBT.IS
data extracted for  ENTRA.IS
data extracted for  INVEO.IS
data extracted for  INVES.IS
data extracted for  IEYHO.IS
data extracted for  INDES.IS
data extracted for  IPEKE.IS
data extracted for  ISDMR.IS
data extracted for  ISFIN.IS
data extracted for  ISGYO.IS
data extracted for  ISMEN.IS
data extracted for  IZENR.IS
data extracted for  JANTS.IS
data extracted for  KLKIM.IS
data extracted for  KLSER.IS
data extracted for  KRDMA.IS
data extracted for  KRDMD.IS
data extracted for  KAREL.IS
data extracted for  KARSN.IS
data extracted for  KTLEV.IS
data extracted for  KAYSE.IS
KERVT.IS: Finansal veri çekilemedi, atlanıyor.
data extracted for  KLGYO.IS
data extracted for  KLRHO.IS
data extracted for  KMPUR.IS
data extracted for  KCAER.IS
data extracted for  KCHOL.IS
data extracted for  KONTR.IS
data extracted for  KONYA.IS
data extracted for  KORDS.IS
data extracted for  KOTON.IS
data extracted for  KOZAL.IS
data extracted for  KOZAA.IS
data extracted for  KOPOL.IS
data extracted for  KUYAS.IS
data extracted for  LIDER.IS
data extracted for  LILAK.IS
data extracted for  LMKDC.IS
data extracted for  LINK.IS
data extracted for  LOGO.IS
data extracted for  LYDHO.IS
data extracted for  MAGEN.IS
data extracted for  MAVI.IS
data extracted for  MIATK.IS
data extracted for  MGROS.IS
data extracted for  MPARK.IS
data extracted for  MOGAN.IS
data extracted for  MOPAS.IS
data extracted for  NATEN.IS
data extracted for  NTHOL.IS
data extracted for  NUHCM.IS
data extracted for  OBAMS.IS
data extracted for  ODAS.IS
data extracted for  ODINE.IS
data extracted for  OTKAR.IS
data extracted for  OYAKC.IS
data extracted for  OZKGY.IS
data extracted for  OZATD.IS
data extracted for  PAPIL.IS
data extracted for  PARSN.IS
data extracted for  PASEU.IS
data extracted for  PSGYO.IS
data extracted for  PATEK.IS
data extracted for  PGSUS.IS
data extracted for  PEKGY.IS
data extracted for  PENTA.IS
data extracted for  PEHOL.IS
data extracted for  PETKM.IS
data extracted for  POLHO.IS
POLTK.IS: Finansal veri çekilemedi, atlanıyor.
data extracted for  QUAGR.IS
data extracted for  RALYH.IS
data extracted for  REEDR.IS
data extracted for  RYGYO.IS
data extracted for  RYSAS.IS
data extracted for  RGYAS.IS
data extracted for  SARKY.IS
data extracted for  SASA.IS
data extracted for  SAYAS.IS
data extracted for  SDTTR.IS
data extracted for  SELEC.IS
data extracted for  SRVGY.IS
data extracted for  SNGYO.IS
data extracted for  SMRTG.IS
data extracted for  SUNTK.IS
SURGY.IS: Finansal veri çekilemedi, atlanıyor.
data extracted for  SUWEN.IS
data extracted for  SOKM.IS
data extracted for  TABGD.IS
data extracted for  TNZTP.IS
data extracted for  TATEN.IS
data extracted for  TAVHL.IS
data extracted for  TKFEN.IS
data extracted for  TKNSA.IS
data extracted for  TOASO.IS
data extracted for  TRGYO.IS
data extracted for  TSPOR.IS
data extracted for  TUKAS.IS
data extracted for  TRCAS.IS
data extracted for  TUREX.IS
data extracted for  TCELL.IS
data extracted for  TMSN.IS
data extracted for  TUPRS.IS
data extracted for  THYAO.IS
data extracted for  TTKOM.IS
data extracted for  TTRAK.IS
data extracted for  SISE.IS
data extracted for  ULKER.IS
data extracted for  VAKFN.IS
data extracted for  VAKKO.IS
data extracted for  VERUS.IS
data extracted for  VESBE.IS
data extracted for  VESTL.IS
data extracted for  YYLGD.IS
data extracted for  YEOTK.IS
data extracted for  YIGIT.IS
data extracted for  ZRGYO.IS
data extracted for  ZOREN.IS
BINHO.IS: Finansal veri çekilemedi, atlanıyor.

In [27]:
financial_dir["TUREX.IS"].loc[stats,:].isna().sum().sum()>0

True

In [29]:
def info_filter(df, stats, indx, lookback):
    """Function to filter relevant financial information."""
    missing_stats = [stat for stat in stats if stat not in df.index]
    
    if missing_stats:
        print(f"Skipping due to missing stats: {missing_stats}")
        return pd.DataFrame()  # Boş bir DataFrame döndür

    existing_stats = [stat for stat in stats if stat in df.index]
    df_new = df.loc[existing_stats, df.columns[:lookback]]
    df_new.rename(dict(zip(existing_stats, indx[:len(existing_stats)])), inplace=True)
    df_new.loc["OtherLTDebt", :] = df_new.loc["TotLTLiab", :] - df_new.loc["LTDebt", :]
    
    return df_new

In [31]:
#applying filtering to the finacials
transformed_df = {}
for ticker in financial_dir:
    df_filtered = info_filter(financial_dir[ticker], stats, indx, 3)
    if df_filtered.isna().sum().sum()>0:
        continue
    elif not df_filtered.empty:  # Eğer DataFrame boş değilse ekle
        transformed_df[ticker] = df_filtered

Skipping due to missing stats: ['LongTermDebtAndCapitalLeaseObligation']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']
Skipping due to missing stats: ['LongTermDebtAndCapitalLeaseObligation', 'GrossProfit']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations', 'LongTermDebtAndCapitalLeaseObligation']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']
Skipping due to missing stats: ['TotalNonCurrentLiabilitiesNetMinorityInterest', 'CurrentAssets', 'CurrentLiabilities', 'GrossProfit']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations', 'TotalNonCurrentLiabilitiesNetMinorityInterest', 'CurrentAssets', 'CurrentLiabilities', 'GrossProfit']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations', 'TotalNonCurrentLiabilitiesNetMinorityInterest', 'CurrentAssets', 'CurrentLiabilities', 'GrossProfit']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']
Skipping due to missing stats: ['LongTermDebtAndCapitalLeaseObligation']
Skipping due to missing stats: ['LongTermDebtAndCapitalLeaseObligation']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']
Skipping due to missing stats: ['NetIncomeFromContinuingOperations']

In [33]:
def safe_divide(numerator, denominator, default_value=0):
    """ Bölme işlemi sırasında sıfıra bölünmeyi önlemek için güvenli bölme fonksiyonu. """
    return numerator / denominator if denominator != 0 else default_value

def piotroski_f(df_dict):
    """Function to calculate F-score of each stock and output information as dataframe."""
    f_score = {}
    for ticker, df in df_dict.items():
        if df.empty:  # Eğer DataFrame boşsa atla
            print(f"Skipping {ticker} due to empty dataframe")
            continue
        
        columns = df.columns
        
        # Finansal verilerin eksik olup olmadığını kontrol et
        try:
            tot_assets_0 = df.loc["TotAssets", columns[0]]
            tot_assets_1 = df.loc["TotAssets", columns[1]]
            tot_assets_2 = df.loc["TotAssets", columns[2]]
            
            avg_assets_0_1 = safe_divide((tot_assets_0 + tot_assets_1), 2)
            avg_assets_1_2 = safe_divide((tot_assets_1 + tot_assets_2), 2)
            
            roa_0 = safe_divide(df.loc["NetIncome", columns[0]], avg_assets_0_1)
            roa_1 = safe_divide(df.loc["NetIncome", columns[1]], avg_assets_1_2)
            
            ROA_FS = int(roa_0 > 0)
            CFO_FS = int(df.loc["CashFlowOps", columns[0]] > 0)
            ROA_D_FS = int(roa_0 > roa_1)
            CFO_ROA_FS = int(safe_divide(df.loc["CashFlowOps", columns[0]], tot_assets_0) > roa_0)
            
            LTD_0 = df.loc["LTDebt", columns[0]] + df.loc["OtherLTDebt", columns[0]]
            LTD_1 = df.loc["LTDebt", columns[1]] + df.loc["OtherLTDebt", columns[1]]
            LTD_FS = int(LTD_0 < LTD_1)
            
            CR_0 = safe_divide(df.loc["CurrAssets", columns[0]], df.loc["CurrLiab", columns[0]])
            CR_1 = safe_divide(df.loc["CurrAssets", columns[1]], df.loc["CurrLiab", columns[1]])
            CR_FS = int(CR_0 > CR_1)
            
            DILUTION_FS = int(df.loc["CommStock", columns[0]] <= df.loc["CommStock", columns[1]])
            
            GM_0 = safe_divide(df.loc["GrossProfit", columns[0]], df.loc["TotRevenue", columns[0]])
            GM_1 = safe_divide(df.loc["GrossProfit", columns[1]], df.loc["TotRevenue", columns[1]])
            GM_FS = int(GM_0 > GM_1)
            
            ATO_0 = safe_divide(df.loc["TotRevenue", columns[0]], avg_assets_0_1)
            ATO_1 = safe_divide(df.loc["TotRevenue", columns[1]], avg_assets_1_2)
            ATO_FS = int(ATO_0 > ATO_1)
            
            f_score[ticker] = [ROA_FS, CFO_FS, ROA_D_FS, CFO_ROA_FS, LTD_FS, CR_FS, DILUTION_FS, GM_FS, ATO_FS]
        
        except KeyError as e:
            print(f"{ticker}: Eksik veri nedeniyle atlanıyor: {e}")
            continue  # Eğer eksik veri varsa hisseyi atla
        
    f_score_df = pd.DataFrame(f_score, index=["PosROA", "PosCFO", "ROAChange", "Accruals", "Leverage", "Liquidity", "Dilution", "GM", "ATO"])
    return f_score_df

In [35]:
# sorting stocks with highest Piotroski f score to lowest
f_score_df = piotroski_f(transformed_df)
f_score_df=pd.DataFrame(f_score_df.sum().sort_values(ascending=False))
f_score_df.reset_index(inplace=True)
f_score_df.rename(columns={"index":"Kod",0:"f_score"},inplace=True)
f_score_df.head(30)

         Kod  f_score
0    LOGO.IS        9
1   GSRAY.IS        8
2   KARSN.IS        7
3   SARKY.IS        7
4   ECILC.IS        7
5   BFREN.IS        7
6   TKFEN.IS        7
7    ADEL.IS        6
8   GUBRF.IS        6
9    DOAS.IS        6
10  CCOLA.IS        6
11  ENKAI.IS        6
12  TEZOL.IS        6
13  OZKGY.IS        6
14  TCELL.IS        6
15  ATATP.IS        6
16  NUHCM.IS        6
17  ASELS.IS        6
18  AEFES.IS        6
19  AGHOL.IS        6
20  KUYAS.IS        6
21  ISDMR.IS        6
22   MAVI.IS        6
23  CLEBI.IS        6
24  GRSEL.IS        6
25  GLYHO.IS        5
26  PENTA.IS        5
27  DOHOL.IS        5
28  KAYSE.IS        5
29  KONTR.IS        5

In [37]:
f_score_df.to_excel("piotroski_f_scores.xlsx", index=False)

In [39]:
f_score_df.tail(10)

          Kod  f_score
158  GESAN.IS        2
159   TMSN.IS        2
160  REEDR.IS        2
161  PARSN.IS        2
162  NATEN.IS        2
163  PATEK.IS        1
164  BINBN.IS        1
165  IEYHO.IS        1
166  SRVGY.IS        1
167  TUKAS.IS        1

In [30]:
"""
def piotroski_f(df_dict):
    f_score = {}
    for ticker, df in df_dict.items():
        if df.empty:  # Eğer DataFrame boşsa atla
            print(f"Skipping {ticker} due to empty dataframe")
            continue
        columns = df_dict[ticker].columns
        ROA_FS = int(df_dict[ticker].loc["NetIncome",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2) > 0)
        CFO_FS = int(df_dict[ticker].loc["CashFlowOps",columns[0]] > 0)
        ROA_D_FS = int((df_dict[ticker].loc["NetIncome",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2)) > (df_dict[ticker].loc["NetIncome",columns[1]]/((df_dict[ticker].loc["TotAssets",columns[1]] + df_dict[ticker].loc["TotAssets",columns[2]])/2)))
        CFO_ROA_FS = int(df_dict[ticker].loc["CashFlowOps",columns[0]]/df_dict[ticker].loc["TotAssets",columns[0]] > df_dict[ticker].loc["NetIncome",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2))
        LTD_FS = int((df_dict[ticker].loc["LTDebt",columns[0]] + df_dict[ticker].loc["OtherLTDebt",columns[0]]) < (df_dict[ticker].loc["LTDebt",columns[1]] + df_dict[ticker].loc["OtherLTDebt",columns[1]]))
        CR_FS = int((df_dict[ticker].loc["CurrAssets",columns[0]] / df_dict[ticker].loc["CurrLiab",columns[0]]) > (df_dict[ticker].loc["CurrAssets",columns[1]] / df_dict[ticker].loc["CurrLiab",columns[1]]))
        DILUTION_FS = int(df_dict[ticker].loc["CommStock",columns[0]] <= df_dict[ticker].loc["CommStock",columns[1]])
        GM_FS = int((df_dict[ticker].loc["GrossProfit",columns[0]]/df_dict[ticker].loc["TotRevenue",columns[0]]) > (df_dict[ticker].loc["GrossProfit",columns[1]]/df_dict[ticker].loc["TotRevenue",columns[1]]))
        ATO_FS = int((df_dict[ticker].loc["TotRevenue",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2)) > (df_dict[ticker].loc["TotRevenue",columns[1]]/((df_dict[ticker].loc["TotAssets",columns[1]] + df_dict[ticker].loc["TotAssets",columns[2]])/2)))
        f_score[ticker] = [ROA_FS,CFO_FS,ROA_D_FS,CFO_ROA_FS,LTD_FS,CR_FS,DILUTION_FS,GM_FS,ATO_FS]
    f_score_df = pd.DataFrame(f_score,index=["PosROA","PosCFO","ROAChange","Accruals","Leverage","Liquidity","Dilution","GM","ATO"])
    return f_score_df
"""

'\ndef piotroski_f(df_dict):\n    f_score = {}\n    for ticker, df in df_dict.items():\n        if df.empty:  # Eğer DataFrame boşsa atla\n            print(f"Skipping {ticker} due to empty dataframe")\n            continue\n        columns = df_dict[ticker].columns\n        ROA_FS = int(df_dict[ticker].loc["NetIncome",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2) > 0)\n        CFO_FS = int(df_dict[ticker].loc["CashFlowOps",columns[0]] > 0)\n        ROA_D_FS = int((df_dict[ticker].loc["NetIncome",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2)) > (df_dict[ticker].loc["NetIncome",columns[1]]/((df_dict[ticker].loc["TotAssets",columns[1]] + df_dict[ticker].loc["TotAssets",columns[2]])/2)))\n        CFO_ROA_FS = int(df_dict[ticker].loc["CashFlowOps",columns[0]]/df_dict[ticker].loc["TotAssets",columns[0]] > df_dict[ticker].loc["NetIncome",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2))\n        LTD_FS = int((df_dict[ticker].loc["LTDebt",columns[0]] + df_dict[ticker].loc["OtherLTDebt",columns[0]]) < (df_dict[ticker].loc["LTDebt",columns[1]] + df_dict[ticker].loc["OtherLTDebt",columns[1]]))\n        CR_FS = int((df_dict[ticker].loc["CurrAssets",columns[0]] / df_dict[ticker].loc["CurrLiab",columns[0]]) > (df_dict[ticker].loc["CurrAssets",columns[1]] / df_dict[ticker].loc["CurrLiab",columns[1]]))\n        DILUTION_FS = int(df_dict[ticker].loc["CommStock",columns[0]] <= df_dict[ticker].loc["CommStock",columns[1]])\n        GM_FS = int((df_dict[ticker].loc["GrossProfit",columns[0]]/df_dict[ticker].loc["TotRevenue",columns[0]]) > (df_dict[ticker].loc["GrossProfit",columns[1]]/df_dict[ticker].loc["TotRevenue",columns[1]]))\n        ATO_FS = int((df_dict[ticker].loc["TotRevenue",columns[0]]/((df_dict[ticker].loc["TotAssets",columns[0]] + df_dict[ticker].loc["TotAssets",columns[1]])/2)) > (df_dict[ticker].loc["TotRevenue",columns[1]]/((df_dict[ticker].loc["TotAssets",columns[1]] + df_dict[ticker].loc["TotAssets",columns[2]])/2)))\n        f_score[ticker] = [ROA_FS,CFO_FS,ROA_D_FS,CFO_ROA_FS,LTD_FS,CR_FS,DILUTION_FS,GM_FS,ATO_FS]\n    f_score_df = pd.DataFrame(f_score,index=["PosROA","PosCFO","ROAChange","Accruals","Leverage","Liquidity","Dilution","GM","ATO"])\n    return f_score_df\n'